body{
	margin:0;
	ackground-color:#3033cc;
	}	
.layer{
margin:0 50px 50px 50px;
padding: 0 25px;
background-color:#26369b;
height: 200%;



}
hr{
height:1.5%;
color:#1a2ca3;
background-color:#121f72;
}